{% macro nav_loop(page) %}
	{% import _self as macros %}
	{% for p in page.children.visible %}
		{% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
		<li>
			{% if p.header.linkless != "true" %}
			<a href="{{ p.url }}" class="{{ active_page }}">
				{{ p.menu }}
			</a>
			{% else %}
			<span class="{{ active_page }} linkless">
				{{ p.menu }}
			</span>
			{% endif %}
			{% if p.children.visible.count > 0 and p.header.nochild != "true" %}
				<ul>
					{{ macros.nav_loop(p) }}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}