extends header.pug

block title
    title  Parallel World Scenario

block sheets
    link(rel="stylesheet" href='/stylesheets/mpage.css')

block subtitle

    |Parallel World Scenario
    
block readme
    span#readme-button
        | ?    
    span#readme-text
        |This agent identifies the optimal number and locations for modular nuclear power plants in order to satisfy the overall electricity demand.
        br
        br
        |The computation is based on considering each land lot and evaluating the costs and risks associated with having a modular nuclear power plant there.
        |The risk is related to the population density around the area and the distance to the nearest cooling water source. The cost includes the capital cost of the plant and the operating cost involved in transmitting power to the consumers.
        br
        br
        |These parameters are used to create a multi objective mixed integer nonlinear programming (MINLP) optimisation model to determine the locations with minimum risks and costs. The model is executed in GAMS using the BARON solver. The model involves three user input parameters in order to execute the optimisation: the weighing factors for the cost and risk objective functions and the overdesign factor (excess factor) for the electricity demand.
        br
        br
        |As the computation time for the simulation is long, three scenarios with different specified sets of user input parameters have been pre-computed and are available for selection. The user can modify the scenarios by selecting from the dropdown list and executing the simulation. The optimal number and locations for modular nuclear power plants will be visualised on the map.

block description


block content
    #loader(style='display:none;')
    div#wrapper
            div.overlay-panel-wrapper
                div#overlay-setting-panel.panel.panel-default
                    div.panel-heading Show scenario
                    div.panel-body.container-fluid
                        div#setting-panel-body


                            div#text-panel
                                select#predefined-select
                                    option(value='0') Base Scenario
                                    option(value='1') Test Scenario
                                br
                                br
                                p Carbon Tax $&nbsp;
                                    |  
                                    input(type='text' id='carbontax' contenteditable='false')

                            br
                            button#run-btn.btn.btn-primary Show
                            div#result-panel
                            div#draw-panel
                           
    div#map
    br
    div#co2-sum-panel2
        table(style=" font-size:30px; margin-left:auto; margin-right:auto; padding:2px; and border-spacing:20px;")
            tr 
                td  
                td T/hour 
                td MT/year 
                td(title ="Taken from National Communications and Biennial Update Reports, NEA, 2014 ") % of Singapore's 2014 GHG Emissions
            tr
                td Actual CO
                    sub 2 
                    | Emission: 
                td#co2Value   #{co2Value}
                td#co2ValueYr  #{co2ValueYr} 
                td#wildPercentage #{wildPercentage}
            tr
                td Design (Max) CO
                    sub 2 
                    | Emission: 
                td#co2Value2  #{co2Value2}
                td#co2ValueYr2  #{co2ValueYr2} 
                td#wildPercentage2 #{wildPercentage2}
        
    div#co2-sum-panel2
        table(style=" font-size:30px; margin-left:auto; margin-right:auto; padding:2px; and border-spacing:20px;")
            tr  
                td
                td Nuclear
                td Oil
                td Natural Gas

            tr
                td Number and Type of Generators
                td#NucGen #{NucGen}
                td#OilGen #{OilGen} 
                td#NatGasGen #{NatGasGen}

    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
    script(src="/javascripts/PopUpmap.js")
    script(src="/javascripts/pwBaseFile.js")
    script(src="/javascripts/parallelWorld.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgm3-eMQauJ_dW4Cq66Hg9aP50jpp24rA&callback=initMap")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    